core
*.pb.*
*.o
a.out
*.dSYM
*.ko
*.dwo
*.mod
*.mod.c
*.order
*.symvers
*.swp
.*.swp
*.cmd
.*.cmd
.DS_Store
**/.DS_Store
# doc temp files
~$*.docx
*.tmp
#vs code directory
.vscode
*trace*
*.aux
*.bbl
*.blg
*.log
*.gz
*.ttl
*.pb.*
**/*Generated*
**/build/*
!**/build/.gitkeep
**/usr/*
!**/usr/.gitkeep
**/dist/*
**/bin/*
!**/bin/.gitkeep
